body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* background: rgb(241, 242, 242); */
	/* background: #eef2ff; */
	background: rgba(243,244,246,255);
}



code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.chatMessageHeight{
	height: calc(100vh - 5rem);
}


.primary-text {
	color: rgb(13, 103, 181);
}

.primary-bg {
	background-color: rgb(13, 103, 181);
}

.banner{
	/* background-image: url("https://media-exp1.licdn.com/dms/image/C4D16AQHOGTXAwxWr9A/profile-displaybackgroundimage-shrink_350_1400/0/1596362810946?e=1651104000&v=beta&t=O21KMZ5zRis5SKIIjChFY5UUr4n71s1QHg2DXQ-Ot2Q"); */
	/* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
	/* background-image: url("https://media-exp1.licdn.com/dms/image/C4D16AQHOGTXAwxWr9A/profile-displaybackgroundimage-shrink_350_1400/0/1596362810946?e=1651104000&v=beta&t=O21KMZ5zRis5SKIIjChFY5UUr4n71s1QHg2DXQ-Ot2Q"); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 20px 20px 0px 0px;
}
.bannerbg{
	border-radius: 20px 20px 20px 20px;
}



/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #b6b5b5; 
}

/* no-posts */

.nopost{
	/* width: 600px; */
	background-color: red;
}

@media only screen and (min-width: 1024px) {

	.nopost{
		width: 600px;
		background-color: blue;
	}
  }


/* Tailwind css below */

@tailwind base;
@tailwind components;
@tailwind utilities;



